{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      },
      "es2016": {
        "modules": false
      },
      "es2017": {
        "modules": false
      }
    }]
  ],

  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
